:root {
    --clr-blue: rgba(87, 79, 36, 0.799);
    --clr-window-bg: rgb(63,98,105);
    --clr-window-gradient: linear-gradient(90deg, rgba(63,98,105,1) 0%, rgb(57, 128, 111) 100%);
    --clr-window-border: rgba(222, 184, 135, 0.626);
    --clr-bg-image: white;
    --clr-btns: black;
}
body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(122,97,57,1) 35%, rgba(0,212,255,1) 100%);
    overflow-x: hidden;
}
button:focus {
    outline: none;
}


.fixed {
    position: fixed;
}
nav {
    margin-top: 2%;
}
.page-link {
    color: black;
}
#link-input {
    width: 20%;
}

.link-input-hidden {
    display: none;
}


.file-input {
    display: none;
}
.file-input-visible {
    display: block;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}
    .column iframe, .column img {
        transform: scale(1.2) translateX(2vh) translateY(6vh);
    }
    
    iframe.YouTube {
        margin-left: 10vh;
    }

    iframe.soundcloud, iframe.bandcamp {
        width: 75%;
        margin-top: -2.5vh;
        margin-left: 12vh;
    }
    div#bandcamp {
        overflow: hidden;
        height: 65vh;
        margin-top: 2.5vh;
    }
    iframe.bandcamp {
        margin-top: -65vh;
        height: 130%;
        border: 2px solid burlywood;
    }
    
    audio {
        margin-top: 2.5vh;
        margin-left: 5vw;
        width: 80%;
    }
    #spotify {
        margin-left: 7vw;
    }

#track-nav {
    position: fixed;
    display: inline-flex;
    flex-direction: row;
    margin-top: -12.5vh;
    margin-left: 2vw;

}
    #track-nav > * {
        background-color: transparent;
        border: none;
        margin-top: 7.5vh;
        transform: scale(5);
        padding-right: 3vw;
        padding-left: 3vw;
        height: 0;
        width: 0;
    }
    
    #track-nav i, .pause-btn {
        top: 10vh;
        right: 10vw;
    }
    #track-nav i {
        border: solid var(--clr-blue);
        border-width: 0 3px 3px 0;
    }
        #track-nav .arrow:hover, .pause-btn:hover {
            cursor: pointer;
            border-color: burlywood;
            color: burlywood;
            transition: 50ms ease-in-out;
        }

    .pause-btn {
        font-weight: bold;
        color: var(--clr-blue);
    }
.bolded-item {
    border: none;
    background-color: transparent;
    color: rgb(144, 73, 73);
    font-weight: bold;
    letter-spacing: 0.1rem;
}

.shuffle-btn {
    position: fixed;
    margin-top: 2vh;
    margin-left: 22.5vw;
    font-style: italic;
    font-size: 2rem;
    background-color: transparent;
    border: none;
    color: black;
}
.shuffle-btn:hover {
    cursor: pointer;
    color: burlywood;
    transition: 100ms ease-in-out;
}


.list-group {
    width: 100%;
    margin-top: 2%;
    margin-right: 2.5%;
    float: right;
    height: calc(100vh - 125px);
    overflow-y: scroll;
}

.list-group-item {
    display: inline-flex;
    align-items: flex-start;
}

    .arrow {
        border: solid var(--clr-blue);
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
    }
    .left {
        transform: rotate(135deg);
    }
    .right {
        transform: rotate(-45deg); 
    }
    .list-group-item span {
        position: relative;
        width: 35vw;
    }
    .item-btn {
        position: relative;
        width: 5vw;
        height: 5vh;
        background-color: transparent;
        border-radius: 200px;
        border: 1px solid var(--clr-blue);
    }
    .play-btn {
        margin-right: 10px;
    }
    .item-btn:hover {
        cursor: pointer;
        opacity: 0.6;
        background: var(--clr-window-gradient);
        transition: 550ms ease;
    }
    .delete-btn {
        margin-left: 10px;
        color: var(--clr-blue);
        font-weight: bold;
    }

    


#special-buttons {
    position: fixed;
    margin-top: -95.5vh;
    margin-left: 73vw;
}
        #special-buttons ul {
            display: inline-flex;
            list-style: none;
        }
        #special-buttons ul li {
            opacity: 0.7;
        }

#alert {
    position: fixed;
    z-index: 11;
    text-align: center;
    padding: 2.5%;
    font-family: Helvetica, sans-serif;
    line-height: 1.75rem;
    color: var(--clr-window-border);
    background: var(--clr-window-bg);
    background: var(--clr-window-gradient);
    border: 2px solid var(--clr-window-border);
    border-radius: 5%;
}
    #alert button {
        margin-top: 10px;
        padding: 0.5%;
        border-radius: 25%;
        color: var(--clr-btns);
        opacity: 0.7;
    }
    #alert button:hover {
        cursor: pointer;
        opacity: 1;
        transition: 100ms ease-in-out;
    }
    .none {
        display: none;
    }
    .alert-block {
        display: block;
        font-size: 1.5rem;
        width: 33%;
        top: 15%;
        left: 33%;
    }
    .block {
        display: block;
    }
    .info-text {
        display: block;
        font-size: 1.3rem;
        width: 95%;
        margin-top: -95vh;
        margin-left: 2.5vw;
    }


/* SPECIAL for YT player */
iframe#player {
    margin-top: -0.7vh;
    margin-left: 7.5vw;
    width: 35vw;
    height: 45vh;
    border-radius: 5%;
}

/* save and load playlist pop-up windows */
#save-form, #load-form {
    position: fixed;
    z-index: 11;
    margin-top: -75vh;
    margin-left: 30vw;
    width: 38vw;
    background: var(--clr-window-bg);
    background: var(--clr-window-gradient);
    border: 2px solid var(--clr-window-border);
    border-radius: 5%;
    padding: 2%;
    font-family: Helvetica, sans-serif;
}   
    #save-form * {
        text-align: center;
        justify-content: space-between;
    }
    #save-form form {
        margin-top: 10px;
    }
    .window-caption {
        font-size: 1.75rem;
        display: inline;
        color: var(--clr-window-border);
    }
    #save-form form * {
        flex-direction: column;
    }
    #title-input {
        width: 17.5vw;
        opacity: 0.7;
    }
    #title-input:hover {
        opacity: 1;
        transition: 100ms ease-in-out;
    }
    #title-input, #save-btn {
        margin-top: 2vh;
    }
    #save-form button, #load-form button, #info-btn button {
        opacity: 0.7;
        color: var(--clr-btns);
        font-weight: normal;
        border-color: transparent;
        background-image: var(--clr-bg-image);
        border-radius: 10%;
    }
    #save-form button:hover, #load-form button:hover {
        cursor: pointer;
        opacity: 1;
        transition: 100ms ease-in-out;
    }
    #save-btn {
        margin-left: 2px;
    }

/* LOAD FORM */ 
    
    #load-form form {
        margin-top: 10px;
        width: 85%;
    }
    #load-heading {
        margin-top: 0.5vh;
        text-align: center;
    }
    .stored-lists {
        list-style: none;
        width: 25px;
        float: right;
        margin-right: 10vw;
    }
    .stored-item {
        display: inline-flex;
        align-items: flex-start;
        width: 15vw;
        vertical-align: top;
    }
    .stored-item input {
        margin-top: 1vh;
        width: 1.5vw;
        transform: scale(1.5);
        opacity: 0.7;
        accent-color: var(--clr-blue);
    }
    .stored-item input:hover {
        opacity: 1;
        transition: 100ms ease-in-out;
    }
    .stored-item label {
        padding-left: 5px;
        width: 9vw;
        font-size: 1.1rem;
        font-weight: bold;
        text-align: center;
        color: var(--clr-window-border);
        margin-top: 2px;
    }
    .stored-lists .delete-btn {
        position: relative;
        width: 2vw;
        border-radius: 200px;

    }
    .load-btn {
        position: relative;
        margin-left: 12.5vw;
        width: 20%;
    }


/* Overlay style */
#overlay {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 10;
}

/* INFO button */
#info-btn {
    position: fixed;
    z-index: 10;
    margin-top: -95vh;
    margin-left: 65vw;
    color: var(--clr-blue);
}
#info-btn button:hover {
    cursor: help;
    opacity: 1;
    transform: 550ms ease-in-out;
}


@media screen and (max-width: 800px) {
    #track-nav {
        margin-top: 55vh;
    }
    .shuffle-btn {
        margin-top: 70vh;
        margin-left: 25vw;
    }
    iframe#player {
        height: 45%;
    }
    iframe.soundcloud {
        margin-left: 7.5vw;
    }
    #spotify {
        margin-top: -2.5vh;
        margin-left: 6.5vw;
        transform: scale(0.6);
        width: 8vw;
    }
    audio {
        width: 90%;
        margin-left: 5vw;
    }
    .list-group {
        width: 90%;
        margin-top: 2.5vh;
        margin-left: -5vw;
        margin-right: 3vw;
    }
    .play-btn .arrow {
        margin-left: -0.4vw;
        margin-bottom: 0.25vh;
    }
    #special-buttons {
        position: fixed;
        margin-left: -1vw;
        bottom: 2.5vh;
    }
    .window-caption {
        font-size: 1.5rem;
    }
    #save-form {
        width: 50%;
    }
    #load-form form {
        margin-left: -2.5vw;
    }
    .stored-lists li {
        width: 25vw;
        margin-left: -5vw;
    }
    .stored-lists label {
        margin-left: 1vw;
    }
    .stored-lists .delete-btn {
        width: 5vw;
        margin-left: 5vw;
    }
    .load-btn {
        width: 35%;
        margin-left: 13.5vw;
    }

    #info-btn {
        display: none;
    }
}
